{{> header}}
 <nav class="navbar sticky-top navbar-expand-sm border-bottom" style="z-index: 9999; background: black;">
   <div class="container">
     <button
       class="navbar-toggler ms-auto"
       type="button"
       data-bs-toggle="collapse"
       data-bs-target="#navbar-collapse"
       aria-controls="navbar"
       aria-expanded="false"
       aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbar-collapse">
       <ul class="navbar-nav me-auto">
          <li class="nav-item">
          <a href="/landing" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
          <a href="/home" class="nav-link">Profile</a>
          </li>
          <li class="nav-item">
          <a href="/search" class="nav-link">Search</a>
          </li>
          {{#unless username}} {{!- shows the login button only when the user is not logged in i.e. unless there is a username, show the login button}}
          <li class="nav-item">
          <a href="/login" class="nav-link">Login</a>
          </li>
          {{/unless}}
       </ul>
        {{#if username}} {{!- shows the logout part of the navbar only when the user is logged in, a user cannot log out if they are not logged in}}
       <div class="nav-item me-1">
         <a href="/logout" class="nav-link">Logout</a>
       </div>
       {{/if}}
     </div>
   </div>
 </nav>