.nav-link{
    color: white;
    background-color: black;
}
.nav-item:hover {
    color: black;
}
body
{
    color: white;
    background-color: black;
    background-image: url(../img/background.img);
    background-position: fixed;
    font-family: serif;
    text-align: left;
    font-size: 20px;
}
h1{
    font-family: 'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L', cursive;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 45px;
}
h2
{
    font-family: 'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L', cursive;
    background-color: black;
    color: white;
    text-align: left;
    font-size: 45px;
}
h4
{
    font-family: 'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L', cursive;
    padding-top: 50px;
    color: white;
    text-align: center;
    font-size: 70px;
}
h5
{
    font-family: 'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L', cursive;
    padding-top: 50px;
    color: white;
    text-align: center;
    font-size: 45px;
}
code{
    color: white;
    background-color: black;
    font-family: serif;
    text-align: center;
    font-size: 16px;
}
p
{
    text-align: left;
    font-size: 16px;
}
p1
{
    text-align: center;
    font-size: 16px;
    color: black;
}

/*button stylng*/
.btn-primary{
    background-color: white;
    color: black;
}

.btn-primary:hover{
    color: white;
    background-color: black;
    border: 2px solid white; 
}

.btn-secondary{
    background-color: white;
    color: black;
    font-size: 30px;
}

.btn-secondary:hover{
    color: white;
    background-color: black;
    border: 2px solid white; 
}

/* Container for the entire team grid */
.team-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-items: center;
    text-align: center;
    padding-bottom: 50px;
    padding-right: 80px; 
    padding-left: 80px;
}

/* Meet the team styling */ 
.team-member {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

/* Profile picture */
.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* Profile description */
.person-description {
    max-width: 200px;
}

.center-member {
    grid-column: span 2;
    display: flex;
    justify-content: center; 
    align-items: center;
}


/*for friends search bar*/
.search{
border: 2px solid black;
height: auto;
width: auto;
background-color: white;
color: black;
font-family: serif;
}

/* footer styling */
.footer{
    color: grey !important;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size:16px;
}
.transparent-background-grey {
    background-color: rgba(255, 255, 255, 0.627); /* Semi-transparent grey */
}
.transparent-background-black {
    background-color: rgba(255, 255, 255, 0.406); /* Semi-transparent grey */
}
.image-container {
    display: flex;
    justify-content: center; 
    gap: 250px; 
    max-width: 100%; 
  }
.image-container img {
    width: 10%; 
    height: auto; 
}
.text-container {
    margin-top: 50px;
    display: flex;
    justify-content: center; 
    gap: 338px; 
    max-width: 100%; 
 }

 .search-container {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */          
  }
  
  .search-bar {
    color: black;
    background-color: white;
    text-align: left;
    height: 50px;
    width: 500px;
    outline:black;
    }

 


