{{> header}}
<h1>Create Your Constellation of Friends</h1>


<form id="form2" action="/friends" method="GET">

<div class="search-container">
  <input class="search-bar" type="text" id="searchvalue" placeholder="Find friends among the stars...">
  <button type="submit"> Search </button>
  </form>
  <p id="output"></p>
  <ul id="searchResults"> </ul>
</div>

<main onload="loadFriends">
  <div class="container mt-4">
    <h2>Your Friends</h2>
    <div id="friendsList" class="mt-3">
      <!-- Friends will be displayed here -->
    </div>
  </div>

  <script>
  const friends = {{{ JSON.stringify(friends) }}};

  document.addEventListener('DOMContentLoaded', function() {
    loadFriends();
  });

  function loadFriends() {
    const friendsList = document.getElementById("friendsList");

    if (friends.length === 0) {
      friendsList.innerHTML = '<p>You have no current friends.</p>';
    } else {
      const list = document.createElement("ul");
      list.className = "list-group";

      friends.forEach(friend => {
        const listItem = document.createElement("li");
        listItem.className = "list-group-item";
        listItem.textContent = `${friend.name} - ${friend.email}`;
        list.appendChild(listItem);
      });

      friendsList.appendChild(list);
    }
  }
</script>

</main>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{{> footer}}