{{> header}}
<h1>Create Your Constellation of Friends</h1>


{{!-- <form id="form2" action="/friendsAdd" method="GET">

<div class="search-container">
  <input class="search-bar" type="text" id="searchvalue" name="searchvalue" placeholder="Find friends among the stars...">
  <button type="submit"> Search </button>
  </form>
  <p id="output"></p>
  <ul id="searchResults"> </ul>
</div> --}}

<form id="form2" action="/friendsAdd" method="GET">
  <div class="search-container">
    <input class="search-bar" type="text" id="searchvalue" name="searchvalue" placeholder="Find friends among the stars...">
    <button type="submit">Search</button>
  </div>
</form>

<p id="output"></p>
<ul id="searchResults">Search a User!</ul>


<script>
  document.getElementById('form2').addEventListener('submit', async function (e) {
    e.preventDefault();

    const searchValue = document.getElementById('searchvalue').value;

    try {
      const response = await fetch(`/friendsAdd?searchvalue=${encodeURIComponent(searchValue)}`);
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }

      const friends = await response.json();

      loadFriends(friends);
      
    } catch (error) {
      console.error('Fetch error:', error);
      document.getElementById('output').textContent = 'An error occurred while fetching the friends list.';
    }
  });

  function loadFriends(friends) {
    console.log("IN LOAD FRIENDS");
    const friendsList = document.getElementById('searchResults');
    friendsList.innerHTML = ''; 

    if (friends.length === 0) {
      friendsList.innerHTML = '<p>No friends found.</p>';
    } else {
      const list = document.createElement('ul');
      list.className = 'list-group';

      friends.forEach(friend => {
        const listItem = document.createElement('li');
        listItem.className = 'list-group-item';
        listItem.textContent = "Name: " + friend.username + " --- Birthday: " + friend.birthday.substring(0,10);
        list.appendChild(listItem);
      });

      friendsList.appendChild(list);
    }
  }
</script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{{> footer}}