{{> header}}
<h1>Create Your Constellation of Friends</h1>


<div class="search-container">
  <input class="search-bar" type="text" placeholder="Find friends among the stars...">
  </form>
</div>

{{> footer}}