{{> header}}
<h1>Create Your Constellation of Friends</h1>

{{!-- search bar --}}
<form id="form2" action="/friendsSearch" method="GET">
  <div class="search-container">
    <input class="search-bar" type="text" id="searchvalue" name="searchvalue" placeholder="Find friends among the stars...">
    <button type="submit">Search</button>
  </div>
</form>

<p id="output"></p>
<ul id="searchResults">&star;  &star;  &star;  &star;  &star;</ul>

{{!-- functions for adding friends  --}}
<script>
  document.getElementById('form2').addEventListener('submit', async function (e) {
    e.preventDefault();

    const searchValue = document.getElementById('searchvalue').value;

    try {
      const response = await fetch(`/friendsSearch?searchvalue=${encodeURIComponent(searchValue)}`);

      const friends = await response.json();

      loadFriends(friends);
      
    } catch (error) {
      console.error('Fetch error:', error);
      document.getElementById('output').textContent = 'An error occurred while fetching the friends list.';
    }
  });

  function loadFriends(friends) {
    const friendsList = document.getElementById('searchResults');
    friendsList.innerHTML = ''; 

    if (friends.message) {
      friendsList.innerHTML = `<p>${friends.message}</p>`;
    } else if (friends.length === 0) {
      friendsList.innerHTML = '<p>No users found.</p>';
    } else {
      const list = document.createElement('ul');
      list.className = 'list-group';

      friends.forEach(friend => {
        const listItem = document.createElement('li');
        listItem.className = 'list-group-item';
        const friendshipStatus = friend.isFriends ? 'You are already friends!' : ' ';
        listItem.textContent = "Name: " + friend.username + " --- Sign: " +friend.sign + " --- Birthday: " + friend.birthday.substring(0,10) + " --- " + friendshipStatus;

        if (!friend.isFriends) {
          const addButton = document.createElement('button');
          addButton.textContent = 'Add Friend';
          addButton.className = 'btn btn-primary';
          addButton.onclick = function () {
            addFriend(friend.username);
          };
          listItem.appendChild(addButton);
        }

        list.appendChild(listItem);
      });

      friendsList.appendChild(list);
    }
  }

  async function addFriend(username) {
    try {
      const response = await fetch('/addFriend', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',  
        },
        body: JSON.stringify({ username: username }),
      }); 

      if (!response.ok) {
        throw new Error('Failed to add friend');
      }

      const result = await response.json();
      if (result.success) {
        const updateFriends = document.querySelectorAll('.list-group-item');
            
        updateFriends.forEach(listItem => {
          const addButton = listItem.querySelector('button');
          if (addButton) {
              addButton.disabled = true;
              addButton.textContent = 'You are now friends';
          }
        });
      } else {
        alert('Could not add friend.');
      }
      
    } catch (error) {
      console.error('Error adding friend:', error);
      alert('An error occurred while adding the friend.');
    }
  }
</script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{{> footer}}